.footer {
 font:Arial, Helvetica, sans-serif 20px;
	background-color:#666;
	color:#FFF;
	height:75px;
	width:900px;
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;
	
	}
	.twitter{
		margin-right:50px;
		margin-top:50px;
	}
